.navbar{
 
    border-bottom: 1px solid black;
}
.logopart{
    display: flex;
    justify-content:center;
    justify-content: space-around;
    padding: 10px;
    
    
}
.inptop{
    border: 1px solid black;
  outline: none;
  color: black;
  height: 30px;
  width: 65%;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    color:#CF2D2D;   
}

.inpsecptr{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.inpsecptr1{
    display: flex;
    display: none;
}
.inpsign{
    padding: 3px;
    color: #000;
}

.cisearch{
    position: relative;
    right: 38px;
    margin-top: 5px;
}
.fav{
    margin-top: 5px;
}
.menupart{
    display: flex;
}
.location{
    margin-left: 10%;
}
.menu{
    width: 55%;
    display: flex;
    margin: auto;
    
    gap: 3rem;
    overflow-y: scroll;
  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none
    
}
.menu li{
    list-style-type: none;
   
}
.link{
    text-decoration: none;
    width: 200px;

}
.linkspan{
    width: 80px; /* Take full width of parent */
    display: inline-block;
    color: #000;
    padding-bottom: 5px;
}
.btnmain{
    color: white;
    background-color: black;
}
.btncat{
    color: white;

}
.btnmain{
    background-color: #000;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
}


@media screen and (max-width: 780px){
    .menu{
        width: 95%;
        gap: 1rem; 
        padding: 4px; 
    }
    .menupart{
        display: block;
    }
    .inpsecptr{
        display: none;
    }
    .inpsecptr1{
        display: block;
        display: flex;
        margin-left: auto;
        margin-right: 5px;
        gap: 1rem;
    }
    .logopart{
        padding: 0px;
    }
    
}
@media screen and (max-width: 320px){
    .location{
        margin-left: 0%;
    }
    
}
